**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
.gradle/
*.apk
*.aab
*.unitypackage
*.app
*.pidb.meta
*.pdb.meta
*.mdb.meta
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
[Ll]ibrary/